head
  title= title
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel="prefetch" href="/users")
  link(rel="prefetch" href="/stylesheets/userStyle.css")

body
  h1= title
  p Welcome to #{title}
  a(href="/users") go to users